<?xml version='1.0' encoding='utf-8'?>
<widget id="com.boss777.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>BOSS777</name>
    <description>BOSS777 Official App</description>
    <author email="admin@boss777.com">BOSS777 Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <icon src="logo.png" />
</widget>